/* You can add global styles to this file, and also import other style files */

.alert ul {
    padding-left: 0;
    margin-bottom: 0;
}

.alert ul li {
    list-style-type: none;
}

i.fa {
    width: 1em;
}

button:hover,
a.btn:hover {
    cursor: pointer;
}

.form-group.has-danger input {
    border: 1px solid red;
}

.form-group.has-success input {
    border: 1px solid green;
}

.form-group.has-danger select {
    border: 1px solid red;
}

.form-group.has-success select {
    border: 1px solid green;
}

small {
    color: red;
}